<section data-ng-controller="HomeController">
	<div class="container content-container" id="content-container"> 
		<div class="jumbotron"> 
		  <div class="row center">
		    <h1 class="center">Welcome to ft</h1>
		    <p>A stock tracking and personal finance tracking tool</p>
		  </div>
		</div>
		<div class="row main">
			<div class="col-4-sm">
				<p class="main-header"><span class="glyphicon glyphicon-signal teal main-glyph"></span> Accounts</p>
				<div class="well well-lg"><p>Use this to create/view the summary of your currently security portfolio. You can also grab quick quote and add positions. This feed will come from Yahoo finance API.</p></div>
			</div> 
			<div class="col-4-sm">
				<p class="main-header"><span class="glyphicon glyphicon-usd teal main-glyph"></span> Net Worth</p>
				<div class="well well-lg"><p class="content">View a consolidated total net worth either current or historical. Currently this is only a single person view, but will be expanded to include a family view. In addition, you can view current year tax liability and a MoM percentage change.</p></div> 
			</div>    	   
			<div class="col-4-sm">
				<p class="main-header"><span class="glyphicon glyphicon-screenshot teal main-glyph"></span> Stock Positions</p>
				<div class="well well-lg"><p class="content">View a list of the recent tranasctions (scarpped from your financial institution. Displays current performance of outstanding positions. Also see your YoY dividend/income summary, and current capital gains.</p></div>  
			</div> 
		</div>
	</div>
</section>
