<section data-ng-controller="HomeController">

	<div class="container content-container" id="content-container"> 
	  <div class="row center">
	    <h1 class="center">Choose from the available options</h1>
	    <p class="lead center">currently a work in progress.</p>
	  </div>  
	  
	  <div class="row">
	   <div class="col-4-sm" >
	     <h2><span class="glyphicon glyphicon-signal"></span>Accounts</h2>
	     <blockquote><p class="content">Use this to create/view the summary of your currently security portfolio. You can also grab quick quote and add positions. This feed will come from Yahoo finance API.</p></blockquote> 
	   </div> 
	   <div class="col-4-sm">
	     <h2><span class="glyphicon glyphicon-screenshot"></span>Stock Positions</h2>
	     <blockquote><p class="content">
	    View a list of the recent tranasctions (scarpped from your financial institution. Displays current performance of outstanding positions. Also see your YoY dividend/income summary, and current capital gains.</p></blockquote>  
	   </div> 
	   <div class="col-4-sm">
	     <h2><span class="glyphicon glyphicon-usd"></span>Net Worth</h2>
	     <blockquote><p class="content">
	    View a consolidated total net worth either current or historical. Currently this is only a single person view, but will be expanded to include a family view. In addition, you can view current year tax liability and a MoM percentage change.</p></blockquote> 
	   </div>    
	  </div>
	</div> 
</section>
