<section ng-cloak data-ng-controller="AuthenticationController as ctrl">
    <div class="page-header">
        <h1 class="page-title">Sign In</h1>
    </div>
	<div>
		<div data-ng-show="ctrl.error" class="text-center text-danger">
			<strong data-ng-bind="ctrl.error"></strong>
		</div>		
		<form data-ng-submit="ctrl.signin()" class="form-horizontal">
			<fieldset>
				<div layout="column" layout-margin>
					<span class="signinglyph glyphicon glyphicon-user"></span>
					<md-input-container class="md-block" >
						<label>Username</label>
						<input required ng-model="ctrl.credentials.username" type="text">
						<div ng-messages="ctrl.credentials.username.$error">
							<div ng-message="required">Username is required.</div>
						</div>
					</md-input-container>

					<span class="signinglyph glyphicon glyphicon-question-sign"></span>
					<md-input-container class="md-block">
						<label>Password</label>
						<input required ng-model="ctrl.credentials.password" type="text">
						<div ng-messages="ctrl.credentials.password.$error">
							<div ng-message="required">Password is required.</div>
						</div>						
					</md-input-container>

					<div class="text-center">
						<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
						<a href="/#!/signup" class="btn btn-primary">Sign up</a>
					</div>
					<div class="text-center forgot-password">
						<a href="/#!/password/forgot">Forgot your password?</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<h3 class="col-md-12 text-center">Or use your social accounts</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/yahoo" class="undecorated-link">
			<img src="/modules/users/img/buttons/yahoo.png">
		</a>		
	</div>	
</section>
