.content {
	margin-top: 50px;
}

.undecorated-link:hover {
	text-decoration: none;
}

.teal {
  color: teal;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/*Page Headers */
.page-title {
  height: 80px;
  font-size: 60px;
  text-align: center;
}
.page-header {
  height: 150px;
}

.money {
  text-align: right;
}

.centered {
  text-align: center;
}

.jumbotron {
  background-color: teal;
  color: white;
}

.main {
  padding-left: 10px;
  padding-right: 10px;
}

.main-header{
  font-size: 35px;
}

.main-glyph{
  font-size: 85%;
}

.well-lg {
  font-size: 1.25em;
  background: teal;
  color: white; 
}

/* smart-table */
.smart-table {
  width: 100%;
  padding-bottom: 50px;
}

.smart-table > thead > tr > th {
  text-align: left;
  border-bottom: 3px solid teal;
  padding-bottom: 15px;
  padding-top: 0;
}
.smart-table > tbody > tr > th, .smart-table > thead > tr > td, .smart-table > tbody > tr > td {
  height: 60px;
  border-bottom: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 10px;
}

.smart-table > tfoot > tr > th, .smart-table > tfoot > tr > td {
  height: 60px;
  border-bottom: 3px solid teal;
}

.smart-table-filters {
  height: 75px;
}
.smart-table-filters .filter {
  vertical-align: top;
}

.actions {
  margin-bottom: 30px;
}

.table-actions {
  width: 130px;
}

.smart-table th.filter .input-filter {
  margin: 12px;
  width: 90%;
}

.smart-table-pager {
  margin-top: 20px;
}

.table-search-row {
  width: 75px;
}

/*Smart table summary */
.st-summary {
  padding-bottom: 20px;
  padding-top: 10px;  
  font-size: 20px;
}

.st-summary .progress {
  height: 30px;
}

.st-summary-small {
  padding-bottom: 20px;
  padding-top: 10px;  
}

.st-summary-small .progress {
  height: 15px; 
}
