.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/*Page Headers */
.page-title {
  height: 80px;
  font-size: 60px;
  text-align: center;
}

.page-header {
  height: 150px;
}

/* smart-table */
.smart-table {
  width: 100%;
  padding-bottom: 50px;
}

.smart-table > thead > tr > th {
  text-align: left;
  border-bottom: 1px solid #c8c8c8;
}

.smart-table > tbody > tr > th, .smart-table > tfoot > tr > th, .smart-table > thead > tr > td, .smart-table > tbody > tr > td, .smart-table > tfoot > tr > td {
  height: 60px;
  border-bottom: 2px solid #e8e8e8;
}

.smart-table-filters {
  height: 60px;
}

.smart-table-filters .filter {
  vertical-align: top;
}

.smart-table > thead > tr > th {
  padding-bottom: 0;
  padding-top: 0;
}

.smart-table > tbody > tr > td {
  padding-left: 10px;
  padding-right: 10px;
}

.actions {
  margin-bottom: 30px;
}

.table-actions {
  width: 130px;
}

.smart-table th.filter .input-filter {
  margin: 12px;
  width: 90%;
}

.smart-table-pager {
  margin-top: 20px;
}

.money {
  text-align: right;
}

.centered {
  text-align: center;
}