/*-- Containers --*/
.content {
	margin-top: 50px;
}

.jumbotron {
  background-color: teal;
  color: white;
}

.main {
  padding: 0 10px;
}

.well-lg {
  font-size: 1.25em;
  background: teal;
  color: white; 
}

.errorPanel {
	margin-bottom: 15px;
}
.successPanel {
	margin-bottom: 15px;
}

.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/*-- Colouring --*/
.teal {
  color: teal;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.stockup {
	color: #64A34E;
}
.stockdown {
	color: #BA2727;
}

/* form content */
.form-group > div > md-input-container {
	padding: 5px 0 0 45px;
	font-size: 110%;
  width: 85%;
	font-weight: bold; /*This is required for the select fields as they don't seem to inherit bold like the input labels */
}

/*-- Page Headers --*/

.md-headline {
	font-size: 350%;
	text-align: center;
  color: teal;
}

.md-subhead {
  text-align: center;
}

.list-btn {
  width: 175px;
}
/*-- Page Headers End--*/

/*Card bottom panel */
.md-card-actions {
	padding: 25px 0 10px 0;
}

.money {
  text-align: right;
}

.centered {
  text-align: center;
}

.main-header{
  font-size: 35px;
}

.main-glyph{
  font-size: 85%;
}


/* smart-table */
.smart-table {
  width: 100%;
  padding-bottom: 50px;
}

/* Generic smart-table header row */
.smart-table > thead > tr > th {
  text-align: left;
  border-bottom: 3px solid teal;
  padding: 0 5px 15px 5px;
}

/* Generic smart-table detail row */
.smart-table > tbody > tr > td {
  height: 60px;
  border-bottom: 1px solid lightgray;
  padding: 0 5px;
}

/* Generic smart-table footer row */
.smart-table > tfoot > tr  {
  height: 45px;
  border-bottom: 3px solid teal;
}

/*-- Smart-table internals --*/

.smart-table-filters {
  height: 70px;
  vertical-align: top;
}

.actions {
  margin-bottom: 30px;
}

.table-actions {
  width: 130px;
}

/*--Smart table summary --*/
.st-summary {
  padding: 10px 0 20px 0;
  font-size: 20px;
}

.st-summary .progress {
  margin-top: 12px;
  height: 30px;
}

.st-summary-small {
  padding: 10px 0 20px 0;
  font-size: 17px;  
}

.st-summary-small .progress {
  margin-top: 10px;
  height: 15px; 
}
