<section data-ng-controller="monthlyController as ctrl">
    <md-content class="md-padding" >
        <div layout="row">
            <div flex></div>
            <md-card flex-gt-sm="70" flex="95"> 
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Historical Returns</span>
                        <span class="md-subhead">Month by month position totals</span>
                    </md-card-title-text>
                </md-card-title>                
            </md-card>
            <div flex></div>
        </div>
        <md-grid-list
            md-cols-xs="1" md-cols-sm="2" md-cols-gt-md="3"
            md-row-height-gt-md="1:1" md-row-height="1:1"
            md-gutter="15px" md-gutter-gt-sm="4px" >

            <md-grid-tile ng-repeat="(key, rec) in ctrl.monthlystats">
                <div class="monthly-card">  
                    <md-grid-tile-header>
                        <h4>{{rec.year}} : {{rec.month.toUpperCase()}}</h4>
                    </md-grid-tile-header>
                    
                    <p>Total Market: {{rec.market | currency}}</p>
                    <p>Total Book: {{rec.book | currency}}</p>
                    <p ng-if="rec.gainLoss >= 0" class="stockup">Gain/Loss in: $ {{rec.gainLoss | currency}}</p>
                    <p ng-if="rec.gainLoss >= 0" class="stockup">Gain/Loss Percentage: {{rec.gainLossPct}}%</p>
                    <p ng-if="rec.gainLoss < 0" class="stockdown">Gain/Loss in: $ {{rec.gainLoss | currency}}</p>
                    <p ng-if="rec.gainLoss < 0" class="stockdown">Gain/Loss Percentage: {{rec.gainLossPct}}%</p>
                </div>            
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</section>    
