<section data-ng-controller="NetworthsController" data-ng-init="toViewNetworth()">
	<div class="page-header">
		<h1 data-ng-bind="networth.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="networth" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == networth.user._id))">
			<a class="btn btn-success" href="/#!/networths/{{networth._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="networth">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/networths">
				<i class="glyphicon glyphicon-list"></i> List Networths
			</a>
		</div>

	</div>

</section>
