<section data-ng-controller="StockpositiondetailsController" data-ng-init="toViewStockpositiondetail()">
	<div class="page-header">
		<h1 data-ng-bind="stockpositiondetail.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="stockpositiondetail" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == stockpositiondetail.user._id))">
			<a class="btn btn-success" href="/#!/stockpositiondetails/{{stockpositiondetail._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="stockpositiondetail">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/stockpositiondetails">
				<i class="glyphicon glyphicon-list"></i> List Stockpositiondetails
			</a>
		</div>

	</div>

</section>
