<section data-ng-controller="AccountsController">
    <div class="page-header">
        <h1>Accounts</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/accounts/create">
        <i class="glyphicon glyphicon-open"></i> New Account
      </a>
    </div>
    <div ng-repeat="(key, value) in accountsSeach.results">
        <h2>{{formatTitle(value.name,value.accountNo)}}</h2>
        <table ng-table="tableParams" show-filter="true">
            <tr ng-repeat="stockposition in $data">
                <td data-title="'Symbol'" sortable="'symbol'" filter="{ 'symbol': 'text' }">{{stockposition.symbol}}</td>
                <td data-title="'Description'" sortable="'description'" filter="{ 'description': 'text' }">{{stockposition.description}}</td>
                <td data-title="'Price'" sortable="'price'" sort="{ 'price': 'number' }">{{stockposition.price}}</td>
                <td data-title="'Shares'" sortable="'shares'" sort="{ 'shares': 'number' }">{{stockposition.shares}}</td>
                <td data-title="'Market Value'" sortable="'market'" sort="{ 'market': 'number' }">ng-currency={{calcMV(stockposition.price,stockposition.shares)}}</td>
                <td>
                    <div class="table-actions">
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/stockpositions/{{stockposition._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/stockpositions/{{stockposition._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(stockposition)" item="stockposition">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                    </div>
                </td>
            </tr>
        </table>        
    </div>
</section>
