<section data-ng-controller="AccountsController" data-ng-init="toViewAccount()">
	<div class="page-header">
		<h1 data-ng-bind="account.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="account" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == account.user._id))">
			<a class="btn btn-success" href="/#!/accounts/{{account._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="account">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/accounts">
				<i class="glyphicon glyphicon-list"></i> List Accounts
			</a>
		</div>

	</div>

</section>
