<section data-ng-controller="StockpositionsController as ctrl" data-ng-init="ctrl.setFormFields(false,true)">
    <div class="page-header">
        <h1>New Stockposition</h1>
    </div>
    <div data-ng-show="ctrl.error" class="alert alert-danger form-group">
      <strong data-ng-bind="ctrl.error"></strong>
    </div>    
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="ctrl.create()" novalidate>
          <formly-form model="ctrl.stockposition" fields="ctrl.formFields"></formly-form>
          <hr/>
          <div class="form-group">
              <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Save</button>
              <a class="btn btn-danger" href="/#!/stockpositions"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
          </div>
        </form>
    </div>
</section>
