<section data-ng-controller="StockpositionsController as stockCtrl">
    <div class="page-header">
        <h1 class="page-title">Stockpositions</h1>
        <div class="centered">
            <a type="button" class="btn btn-success" href="/#!/stockpositions/create"><i class="glyphicon glyphicon-open"></i> New Stockposition</a>
        </div>
    </div>
    <div><st-summary datacollection="stockCtrl.rowsCollection[0].data" cash="stockCtrl.cash" fixed="stockCtrl.fixed" equity="stockCtrl.equity"></st-summary></div>
    <div>
        <table class="table smart-table table-hover" st-table="stockCtrl.rowsCollection" st-safe-src="rows" st-pipe="stockCtrl.fetch">    
            <thead>
                <tr>
                    <th>Account Type</th>
                    <th st-sort-default="true">Symbol</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Shares</th>
                    <th st-skip-natural="true">MarketValue</th>
                    <th><!--Action !--></th> 
                </tr>
                <tr>
                    <th colspan="6">
                        <input st-search="symbol" class="input-sm form-control" type="search"/>
                    </th>                
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in stockCtrl.rowsCollection[0].data">
                    <td>{{stockCtrl.resolveAccountType(row.accountType)}}</td>
                    <td>{{row.symbol | uppercase}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.price | currency}}</td>
                    <td>{{row.shares | number}}</td>
                    <td>{{stockCtrl.calcMV(row.price,row.shares) | currency}}</td>                    
                    <td>
                       <div class="table-actions">
                            <a class="btn btn-default" title="View" href="/#!/stockpositions/{{row._id}}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a class="btn btn-default" title="Edit" href="/#!/stockpositions/{{row._id}}/edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(row)" item="stockposition">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
