<section data-ng-controller="StockpositionsController as ctrl">
    <div class="page-header">
        <h1 class="page-title">Stockpositions</h1>
        <div class="centered">
            <a type="button" class="btn btn-success" href="/#!/stockpositions/create"><i class="glyphicon glyphicon-open"></i> New Stockposition</a>
        </div>
    </div>
    <div class="st-summary"><st-summary datacollection="ctrl.displayRowsCollection"></st-summary></div>
    <div>
        <table class="table smart-table table-hover" st-table="ctrl.displayRowsCollection" st-safe-src="ctrl.safeRows" st-pipe="ctrl.fetch">
            <thead>
                <tr>
                    <th>Account Type</th>
                    <th st-sort="ctrl.displayRowsCollection.symbol">Symbol</th>
                    <th>Description</th>
                    <th st-sort="description">Price</th>
                    <th st-sort="shares">Shares</th>
                    <th>MarketValue</th>
                    <th><!--Action !--></th> 
                </tr>
                <tr class="smart-table-filters">
                    <td colspan="3">
                        Select a symbol for filtering (separate symbols with commas)<input st-search="symbol" class="input-sm form-control" type="search"/>
                    </td>                
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ctrl.displayRowsCollection">
                    <td>{{ctrl.resolveAccountType(row.accountType)}}</td>
                    <td>{{row.symbol | uppercase}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.price | currency}}</td>
                    <td>{{row.shares | number}}</td>
                    <td>{{ctrl.calcMV(row.type, row.price,row.shares) | currency}}</td>                    
                    <td>
                       <div class="table-actions">
                            <a class="btn btn-default" title="View" href="/#!/stockpositions/{{row._id}}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a class="btn btn-default" title="Edit" href="/#!/stockpositions/{{row._id}}/edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="ctrl.remove(row)" item="ctrl.stockposition">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <hr/>
</section>
