<section data-ng-controller="GainLossesController as ctrl">
    <md-content class="md-padding" >
        <div layout="row">
            <div flex></div>
            <md-card flex-gt-sm="70" flex="95"> 
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Gain Loss Report</span>
                        <span class="md-subhead">How much money has been made</span>
                    </md-card-title-text>
                </md-card-title>                
            </md-card>
            <div flex></div>
        </div>
    </md-content>
    <div data-ng-show="ctrl.success" class="alert alert-sucess form-group sucessPanel">
        <strong data-ng-bind="ctrl.success"></strong>
    </div>

    <div class="st-summary"><st-gain-loss-summary datacollection="ctrl.displayRowsCollection"></st-gain-loss-summary></div>

    <md-content>
<!--        <md-fab-speed-dial ng-hide="ctrl.fab.hidden" md-direction="down" md-open="ctrl.fab.isOpen" class="txn-fab md-scale md-fab-top-right" ng-class="{ 'md-hover-full': ctrl.fab.hover }"
            ng-mouseenter="ctrl.fab.isOpen=true" ng-mouseleave="ctrl.fab.isOpen=false">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary">
                    <md-icon class="glyphicon glyphicon-th-list" aria-label="menu"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Show Drip?" ng-model="ctrl.fab.showDrip" ng-click="ctrl.toggle()" class="md-fab md-mini" ng-class="ctrl.fab.showDrip ? 'md-accent' : 'md-primary'">
                    <md-icon class="material-icons glyphicon" ng-class="ctrl.fab.showDrip ? 'glyphicon-plus' : 'glyphicon-minus'" aria-label="Show Drip"></md-icon>
                    <md-tooltip md-direction="left" md-visible="ctrl.fab.tooltipVisible">Show Drip?</md-tooltip>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
!-->        
        <table class="table smart-table table-hover txn-table" st-table="ctrl.displayRowsCollection" st-safe-src="ctrl.safeRows" st-pipe="ctrl.fetch">
            <thead>
                <tr>
                    <th st-sort="settlementDate" st-sort-default="true">Settlement Date</th>
                    <th st-sort="description">Description</th>                    
                    <th st-sort="symbol">Symbol</th>
                    <th st-sort="price">Price</th>
                    <th st-sort="shares">Shares</th>
                    <th st-sort="settle">Settle Amount</th>
                    <th st-sort="book">Book Amount</th>
                    <th st-sort="gainLoss">Gain/Loss</th>
                    <th st-sort="gainLossPct">Gain/Loss %</th>
                    <th></th>
                </tr>
                <tr class="smart-table-filters">
                    <!--Maybe add this back later<th><st-date-range predicate="txnDate" before="ctrl.filter.fromDate" after="ctrl.filter.toDate"></st-date-range></th>-->
                    <td></td>
                    <td></td>
                    <td><input st-search="symbol" type="search"/></td>
                    <!--Create a hidden bind for the search to work. This way the directive can get correct filter predicate object -->
                    <!--<td ng-hide="true"><input st-search="showDrip" type="search"/></td>-->                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ctrl.displayRowsCollection">
                    <td>{{row.settlementDate | date}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.symbol | uppercase}}</td>
                    <td>{{row.price | currency}}</td>
                    <td>{{row.shares | number}}</td>
                    <td>{{row.settle | currency}}</td>
                    <td>{{row.book | currency}}</td>
                    <td>{{row.gainLoss | currency}}</td>
                    <td>{{row.gainLossPct | number:2}}%</td>
<!--                    <td ng-if="ctrl.colour(row.tradeinfo)" class="stockup"><span class="glyphicon glyphicon-arrow-up"></span><span>{{row.tradeinfo}}</span></div>
                    <td ng-if="!ctrl.colour(row.tradeinfo)" class="stockdown"><span class="glyphicon glyphicon-arrow-down"></span><span>{{row.tradeinfo}}</span></div>!--> 
                    <td><a class="btn btn-danger" title="Delete Row" ng-really-message="Are you sure ?" ng-really-click="ctrl.tableRemoveItem(row)" item="txn"><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </td>                        
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td st-pagination="" st-items-by-page="10" colspan="4"></td>
                </tr>
            </tfoot>            
        </table>
    </md-content>
</section>
