<section data-ng-controller="MaintenanceController as ctrl">
    <div class="page-header">
        <h1 class="page-title">{{ctrl.title}}</h1>
    </div>

    <hr/>
    <div data-ng-show="ctrl.error" class="alert alert-danger form-group">
        <strong data-ng-bind="ctrl.error"></strong>
    </div>    
    <div data-ng-show="ctrl.success" class="alert alert-success form-group">
        <strong data-ng-bind="ctrl.success"></strong>
    </div>    

    <div class="container">
        <div class="row" style="margin-bottom: 40px"> 
        	<div class="col-sm-6">
        		<h3>Create backup for historic values</h3>
        		<p>Creates a manual snapshot of your stock positions as of today. The month and year are for storage</p>
        	</div>    
            <form data-ng-submit="ctrl.monthlyArchive()" class="col-sm-4" autocomplete="on">
                <formly-form model="ctrl.archive" fields="ctrl.archiveFormFields" options="ctrl.options"></formly-form>

                <div class="form-group">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-open"></i> Monthly Reporting</button>
                </div> 
            </form>		
        </div>
        <div class="row" style="margin-bottom: 40px">
        	<div class="col-sm-6">
        		<h3>Export stock positions</h3>
        		<p>Exports your current stock positions into csv format</p>
        	</div> 
           	<form data-ng-submit="ctrl.exportData()" class="col-sm-4" autocomplete="on">
                <formly-form model="ctrl.export" fields="ctrl.exportDataFormFields" options="ctrl.options"></formly-form>

                <div class="form-group">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-open"></i>Export to CSV</button>
                </div> 
            </form>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Import stock information</h3>
                <p>Import stock information from an external source</p>
            </div> 
            <form data-ng-submit="ctrl.importData()" class="col-sm-4" autocomplete="on">
                <formly-form model="ctrl.importDataForm" fields="ctrl.importDataFormFields" options="ctrl.options"></formly-form>

                <div class="form-group">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-open"></i>Submit</button>
                </div> 
            </form>
        </div>        
    </div>
</section>
