<section data-ng-controller="StockpositionsController as ctrl" data-ng-init="ctrl.toViewStockposition()">
	<div class="page-header">
		<h1>View: {{ctrl.stockposition.symbol}} ~ {{ctrl.stockposition.description}}</h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="ctrl.stockposition" fields="ctrl.formFields"></formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == stockposition.user._id))">
			<a class="btn btn-success" href="/#!/stockpositions/{{stockposition._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="ctrl.remove()" item="ctrl.stockposition">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/stockpositions">
				<i class="glyphicon glyphicon-list"></i> List Stockpositions
			</a>
		</div>

	</div>

</section>
